/* table css */
.mat-row:nth-child(even){
	  background-color:white;
}

.mat-row:nth-child(odd){
	  background-color:#F0F0F0;
}

table {
  width: 100%;
}
td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding: 10px;
  border-bottom-style: none; 
}
th, td {
  overflow: hidden;
  width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mat-option{
  font-size: 12.8px;
  height: 35px;
}

.mat-cell, .mat-footer-cell{
  font-size: 12.8px;
}
.mat-sort-header-button{
  font-size: 12.8px;
}
 /* end table css */
 

/* buttons css start */ 
button.mat-primary {
	background-color: #FF7300;
}   

button.mat-primary:hover {
    background-color: #f38303;
}
    
button.mat-primary:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.15);
}

button.mat-primary:active {
    background-color: #EA6900;
    border-color: #EA6900;
}

/* buttons css close */  
 
.form-input-text{
  display: grid!important;
}
::ng-deep .mat-input-element, .mat-select{
  height: 16px !important;
  font-size: 14px !important;
}

.mat-form-field-infix{
  font-size: 16px !important;
}

/* ::ng-deep .mat-select-value-text { */
  /* color:rgba(0, 0, 0, 1) !important; */
/* } */
/* ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline { */
  /* color:rgba(0, 0, 0, 0.12) !important; */
/* } */

/* .mat-form-field-appearance-outline .mat-form-field-prefix, .mat-form-field-appearance-outline .mat-form-field-suffix{ */
  /* font-size: 16px; */
/* } */
/* ::ng-deep .mat-form-field-prefix, ::ng-deep .mat-form-field-suffix {  */
	/* top: 0!important; font-size: 16px  */
/* } */

/* .mat-form-field { */
    /* font-size: 0.75rem !important; */
/* } */

/* .mat-form-field-appearance-legacy .mat-form-field-underline{ */
	/* background-color: rgba(0, 0, 0, 0.15); */
/* } */

::ng-deep .mat-form-field {
  font-size: 14px;
  width: 100%!important;
}