.container-fluid-menu{
  background: #878787!important;
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

/* =====header section===== */
/* logo section */
.header-logo_section .container-fluid {
    background: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-logo_section .container-fluid .logo-hrms img {
    height: 30px;
}

.header-logo_section .container-fluid .logo-ms img {
    height: 40px;
    width: 40px;
  border-radius: 50%;
}

@media only screen and (max-width: 575px) {
    .header-logo_section .container-fluid .logo-hrms img {
        height: 20px;
    }

    .header-logo_section .container-fluid .logo-ms img {
        height: 25px;
    }
}

.header-logo_section .container-fluid .logo-hrms {
    display: flex;
    align-items: center;
}

.header-logo_section .container-fluid .logo-ms {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
/* logo section close */

/* welcome section */
.header-welcome_section .container-fluid {
    background: #F3EAEA;
    padding-top: 7px;
    padding-bottom: 7px;
}

.header-main_nav_section .container-fluid-windpact {
    background: #878787;
    padding-top: 12px;
    padding-bottom: 12px;
}

.header-welcome_section .container-fluid .div_welcome {
    display: flex;
    align-items: center;
    font-size: .9rem;
    color: #5A5858;
}

@media only screen and (max-width: 575px) {
    .header-welcome_section .container-fluid .div_welcome {
        font-size: .7rem;
    }
}

.header-welcome_section .container-fluid .div_links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-welcome_section .nav-welcome li {
    display: inline;
}

.header-welcome_section .nav-welcome li a {
    color: #0066CC;
    font-size: 14px;
    margin-left: 1rem;
    font-weight: 600;
}

.header-main_nav_section .windpact-menu li a {
    color: #FFFFFF;
    font-size: 14px;
    border-right: none;
    padding-right: 1rem;
    margin-right: 1rem;
}

@media only screen and (max-width: 575px) {
    .header-welcome_section .nav-welcome li a {
        font-size: 12px;
    }
    .header-welcome_section .nav-welcome {
        padding-left: 0;
        margin-top: .5rem;
    }
}


/* welcome section close */

/* main navigation section */
.header-main_nav_section .container-fluid {
    background: #344F84;
    padding-top: 7px;
    padding-bottom: 7px;
}
.header-main_nav_section .container-fluid-windpact {
    background: #878787;
    padding-top: 12px;
    padding-bottom: 12px;
}

.header-main_nav_section ul li {
    display: inline;
}

.header-main_nav_section ul li a {
    color: #FFFFFF;
    font-size: 14px;
    border-right: solid 1px rgba(255, 255, 255, .3);
    padding-right: 1rem;
    margin-right: 1rem;
}
.header-main_nav_section .windpact-menu li a {
    color: #FFFFFF;
    font-size: 14px;
    border-right: none;
    padding-right: 1rem;
    margin-right: 1rem;
}

.header-main_nav_section ul li:last-child a {
    border-right: solid 0px rgba(255, 255, 255, .3);
    padding-right: 0rem;
    margin-right: 0rem;
}
/* main navigation section close */
/* =====header section CLOSE===== */

/* =====body section===== */
.body-section {
    margin-top: 52px;
    margin-bottom: 1.5rem;
}
@media only screen and (max-width: 767px) {
  .body-section {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
}
.body-section .body-bg {
    background: #FFFFFF;
    /*padding: 1.4rem;parv*/
    padding-top: 1rem;
    box-shadow: 0px 0px 7px #B15A2A;
    border-radius: 3px;
}

/* .body-section h1 { */
    /* color: #f7941e; */
    /* font-size: 1.55rem; */
    /* font-weight: 400; */
/* } */

@media only screen and (max-width: 575px) {
    /* .body-section h1 { */
        /* font-size: 1.25rem; */
    /* } */
}
/* =====body section CLOSE===== */



/*css start */


.guidence-bg {
    background-color: #F1F1F1;
    padding: 9px;
    font-size: 0.8em;
    border-left: 4px solid #B15A2A;
    color:#5E5E5E;
    display: inline-block;
    width: 100%;
}
.guidence-bg  .hand-icon {
    color: #B15A2A;
    font-size: 1.4em;}

    .btn-1{
        color: #fff;
        background-color: #B15A2A;
        margin: 0 auto;
         display: flow-root;
        justify-content: center;
        padding: 5px 40px 5px 40px;
        font-size: 1em;
    }


    .btn-1:hover {
        color: #fff;
        background-color: #B15A2A;
        border-color: #B15A2A;
    }

    .tracking  strong { color: #000000; }


    .tracking  strong p { color: #878787; }


    .profile-pic {
        max-width: 80px;
        height: auto;
    }



.map-card {  background: #FFFFFF; box-shadow: 0px 0px 10px #B15A2A;}


     .table .thead-dark th {
        color: #fff;
        background-color: #B15A2A;

    }


    .map-info{
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        left: 0;
        top: 0;
       }

        .map-info ul{
            display: flex;
            margin-left: 0.5rem;
            padding-left: 0;
            margin-right: 0.5rem;
            margin-top: 0.5rem;
        }

        .map-info ul li{
            color: white;
            list-style-type: none;
            font-size: 0.9rem;
            margin-bottom: 0.5rem;
            margin-right: 0.5rem;

        }
        .map-info ul li img{
           width: auto;
           height: 30px;
        }


         .table thead th {
            vertical-align: bottom;
			border: none !important;
            /* border-bottom: 2px solid #dee2e6 !important; */
            white-space: pre;
            font-weight: 700;
            font-size: 14px;
        }

		.table tbody tr {
			border: none !important;
            /* border-bottom: 2px solid #dee2e6 !important;            	 */
        }

        .table  tr td {
          font-size: 0.85rem;
            white-space: pre;

        }

		mat-row, mat-header-row, mat-footer-row{
			border: none !important;
			border-bottom: 2px solid #dee2e6 !important;
		}
		th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
			border: none !important;
		}

        .table  tr:nth-child(even) {
           background-color: #f2f2f2;
		}
        .btn-secondary {
            color: #fff;
            border-color: #6c757d;
        }


        dl, ol, ul {
           margin-top: 0;
           margin-bottom: 0rem;
        }
        .blink{animation:blinker 2s linear infinite; padding-left:2px;}
        @keyframes blinker{50%{opacity:0.0;}
        }


/*-------------------------------------*/
.pagination a.circle {
    width: 35px;
    height: 35px;
    background: #B15A2A;
    border-radius: 50px;
    text-align: center;
    color: white;
    font-size: 22px;
}

.pagination .data{
    display: inline-block;
    margin-top: 5px;
}




        .profile-div-height   {   height: 70px;
                    width: auto;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;}




        @media only screen and (max-width:1024px) {
            .map-info ul{
                display: unset !important;

            }

            .map-info ul li{
                color: white;
                list-style-type: none;
                margin-right: 0.85rem;
                margin-top: 0.85rem;
                font-size: 0.85em;

                padding-bottom: 0.85rem;
            }

            .map-tracking img.map-tracking1 {min-height:50vh;


            }




        }

/* css end */

.breadcrumb {
	background-color: #ffffff !important;
	border: 1px solid #B15A2A;
}
.material-icons {
	font-size: 24px;
	color: rgba(0, 0, 0, 0.3);
}
/*Custom Font family css Start */
.primary-heading, .secondary-heading, .tertiary-heading {
	/*font-family: avenir-regular;*/
}

.primary-heading {
	/* border-bottom: 1px solid; */

    line-height: 38px;

    font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 38px;
  color: #B15A2A;
}
.note-heading {
	/* border-bottom: 1px solid; */

    line-height: 38px;

    font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 38px;
  color: #B15A2A;
}

.secondary-heading {
    font-size: 18px;
    color: #4F4F4F;
    /*margin-top:26px;*/
    font-weight: 600;

}

.secondary-line {
    background: #B15A2A;
    height: 1px;
    margin-bottom: 1rem;
}

p, div, small, span {
	/*font-family: avenir-regular;*/
}

/*Custom Font family css End */
.custom-line-height{
	line-height: 1.1;
}
.mat-icon {
	vertical-align: middle;
}

.ml-1px {
	margin-left: 1px !important;
}
.mat-paginator-icon{  cursor: pointer;
  background-color: #B15A2A!important;
  color: white!important;
  border-radius: 50%
}

.pagination button.circle {
    width: 35px;
    height: 35px;
    background-color: #B15A2A;
    border-radius: 50px;
    text-align: center;
    color: white;
    font-size: 13px;
    border: solid 3px;
}


.btn-outline-windpact {
    color: #B15A2A;
    border-color: #B15A2A;
    display: flex;
    /*padding: .55rem .7rem;*/
}

.btn-outline-windpact:hover {
    color: #B15A2A;
    background-color: rgba(0,0,0,0.03);
    border-color: #B15A2A;
}

.btn-outline-windpact .mat-icon, .btn-outline-windpact .material-icons {
    color: #B15A2A;
}

/* overwrite css*/
.row>[class^=col-] {
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 767.98px) {
  .page-header-fixed {
    padding-top: 50px;
  }

  .btn-outline-windpact {
        font-size: 13px;
    }
}










.mat-form-field-label-wrapper {
    top: -1.3em;
    padding-top: .84375em;
}



.float .mat-form-field-label, .mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
    transform: translateY(-0.8em) scale(0.75) !important;
    width: 133.3333333333%;
}
/*
.mat-form-field-appearance-outline .mat-form-field-outline {
    display: flex;
    position: absolute;
    top: 0.25em;
    left: 0;
    right: 0;
    bottom: 14px !important;
    pointer-events: none;
}
*/

.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: .2em 0 .5em 0 !important;
}

/*
.mat-form-field-appearance-outline .mat-form-field-label {
    top: 1.5em !important;
    margin-top: -0.25em;
}
*/

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
    transform: translateY(-1.2em) scale(0.75);
    width: 133.3333333333%;
}

.mat-form-field-appearance-outline .mat-form-field-label {
    top: 1.84375em;
    margin-top: -0.4em;
}

.mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: translateY(-5%) !important;
}

mat-header-row {
    min-height: 46px !important;
}

mat-row, mat-footer-row {
    min-height: 46px !important;
}

input.mat-input-element {
    margin-top: -1.0825em;
    line-height: 1.7rem;
}

.swal2-styled.swal2-confirm {
    background-color: #B15A2A !important;
}

.swal2-popup {
    width: 22rem !important;
    height: 22rem !important;
}

.capitaliaze-first{
    text-transform:capitalize;
}
.cursor-point{
    cursor: pointer !important;
}
button:focus, .button:active {
  outline: none !important;
  box-shadow: none !important;
}


.mat-table {
    font-family: unset !important;
}

button.mat-primary:hover {
    background-color: #a05024;
}

.container-max-height {
  min-height: 350px !important;
}

.icon-sm {
    font-size: 1.35rem;
}

@media only screen and (max-width: 767px) {
    .header-logo-image img {
        max-width: 75% !important;
    }

    .header .navbar-toggle {
        margin-right: 0px;
    }
}


        /* time range picker css*/

        .timerangepicker-container {
            display: flex;
            position: absolute;
            top: auto;
            /* left: 0; */
            right: 14px;
            z-index:1001;
            background: white;
            width:50%;
        }

          .timerangepicker-label {
            display: block;
            line-height: 2em;
            background-color: #c8c8c880;
            padding-left: 1em;
            border-bottom: 1px solid grey;
            margin-bottom: 0.75em;
          }

          .timerangepicker-from,
          .timerangepicker-to {
            border: 1px solid grey;
            padding-bottom: 0.75em;
            width: 60%;
          }
          .timerangepicker-from {
            border-right: none;
          }
          .timerangepicker-display {
            box-sizing: border-box;
            display: inline-block;
            width: 24%;
            border: 1px solid grey;
            line-height: 2.5em;
            text-align: center;
            position: relative;
            margin: 1em 0.175em;
          }
          .timerangepicker-display .increment,
          .timerangepicker-display .decrement {
            cursor: pointer;
            position: absolute;
            font-size: 1.5em;
            width: 1.5em;
            text-align: center;
            left: 0;
            margin-left:15%;
          }

          .timerangepicker-display .increment {
            margin-top: -0.25em;
            top: -1em;
          }

          .timerangepicker-display .decrement {
            margin-bottom: -0.25em;
            bottom: -1em;
          }

          .timerangepicker-display.hour {
            margin-left: 1.5em;
          }

          .timerange{
            border:1px solid #777;
          }

          .time-range{
              margin-top:4px;
            }
         .timerange:hover{
             transition: .2s;
             box-shadow: 0 0 0 1px #777;
         }


         @media only screen and (max-width: 770px){
            .timerangepicker-container{
                width:90%;
            }
            .timerangepicker-display .increment,
          .timerangepicker-display .decrement{
            margin-left:2%;
          }

         }

         @media only screen and (max-width:990px){
            .timerangepicker-display.hour {
                margin-left: 1em;
              }
         }

         @media only screen and (max-width: 370px){
            .timerangepicker-display.hour {
                margin-left: 0.375em;
              }
         }
.form-control:focus {
  box-shadow: 0 0 0 0.2rem transparent;
}

.mat-paginator-page-size{
    visibility: hidden!important;
  }
.mat-paginator-range-action .mat-paginator-range-label{
    font-size: 1rem!important;
    font-weight: 400;
    line-height: 1.5;
    color: black!important;
}


.btn-outline-dark.disabled, .btn-outline-dark:disabled {
    cursor: default;
    }
