
/*.update-image{
  margin:0 auto;
}
.update-image img{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 20px;
  background: #D3D2D6;
}*/
.update-image span i{
    color:white;
    background:#B15A2A;
    border-radius: 50%;
    font-size: 25px;
    margin-left: -30px;
    padding:9px;
  }
  
  .example-full-width {
      width: 100%;
  }
  
  ::ng-deep .mat-select-value-text {
    color:rgba(0, 0, 0, 1) !important;
  }
  
  .create-user-btn{
    width:100px;
    /*font-size: 18px;*/
  
  }
  .save-btn{
    background-color: #B15A2A;
    color: white;
    width:100px;
    /*font-size: 18px;*/
  }
  :host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
    height: auto;
  }
  
  .user-image-circle {
      width: 140px;
      height: 140px;
      background: #D3D2D6;
      border-radius: 50%;
  }
  
  .user-image-circle img {
      height: 140px;
      width: 140px;
      padding: 35px;
      object-fit: contain;
  }
  
  .user-image-capture {
    display: block;
    text-align: center; 
    margin-bottom: -26px; 
    left: 50px; 
    top: 1rem; 
    z-index: 1;
  } 
  
  .bordor-radius-custom {
    border-radius: 50%;
    border: 3px solid #b15a2a;
  }

  .primary-heading {
    color: #B15A2A;
  }
  .main-body{
    box-shadow: -1px -1px 13px -1px #b2592a, 0 1px 1px 0 #b15a2a, 0 1px 3px 0 #b15a2a;
    position: relative;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 0px;
  }
  .secondary-line{
    background-color: #B15A2A;
    padding-bottom: 1px;
    margin-bottom: 20px;
  }
  .u-list{
    padding-left:10px;
  }
  .body-section{
    margin-top: 70px;
}