<!-- spinner loader -->
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<!-- start body section -->
<section class="body-section" id="addLocationSection">
  <div class="container">

    <div class="row py-3">
      <!-- title -->
      <div class="col d-flex align-items-center">
        <h1 class="primary-heading mb-0">Create Admin</h1>
      </div>
    </div>


    <div class="row mr-1 ml-1 pb-2 d-none">
      <h1 class="primary-heading">{{headerText}}</h1>
    </div>
    <div class="body-bg container main-body">      
      <h1 class="secondary-heading pull-left">Admin Details</h1>
      <small class="float-right mb-2 pt-1">Fields marked with * are required.</small>
      <div style="clear: both;"></div>
      <div class="secondary-line"></div>
      <div class="pb-4 u-list">
        <!-- ============================================================== -->
        <!-- User form start-->
        <!-- ============================================================== -->
        <form [formGroup]="userForm" userFormDirective="ngForm" autocomplete="off" novalidate>
          <fieldset name="fieldset" class="w-100">
            <div class="row">
              <div class="col-lg-8">
                <div class="row">
                  <div class="col-md-6 margin-bottom-8">
                    <mat-form-field appearance="outline" color="primary" class="example-full-width">
                      <mat-label>Employee Id</mat-label>
                      <input matInput [readonly]="readOnlyControls" placeholder="Employee Id*"
                             minlength="1" maxlength="50" formControlName="userId" autocomplete="doNotAutoComplete" required
                             (blur)="checkEmployeeId();" >
                      <mat-error class="mat-hint-err"
                                 *ngIf="userForm.get('userId').errors?.required">Employee Id  is required.
                      </mat-error>
                      <!-- <mat-error class="mat-hint-err"
                                 *ngIf="userForm.get('userId').errors?.pattern && !userForm.get('userId').errors?.required">
                        Please use only English alphabet.
                      </mat-error> -->
                    </mat-form-field>
                  </div>
                  <div class="col-md-6 margin-bottom-8">
                    <mat-form-field appearance="outline" color="primary" class="example-full-width">
                      <mat-label>Name</mat-label>
                      <input matInput [readonly]="readOnlyControls" placeholder="Name*"
                             minlength="1" maxlength="50" formControlName="firstName" required
                             pattern="^[a-zA-Z]+[.]{0,1}$">
                             
                      <mat-error class="mat-hint-err"
                                 *ngIf="userForm.get('firstName').errors?.required"> Name is required.
                      </mat-error>
                      <mat-error class="mat-hint-err"
                                 *ngIf="userForm.get('firstName').errors?.pattern && !userForm.get('firstName').errors?.required">
                        Invalid  Name
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 margin-bottom-8">
                    <mat-form-field appearance="outline" color="primary" class="example-full-width">
                      <mat-label>Phone Number</mat-label>
                      <input matInput [readonly]="readOnlyControls" placeholder="Mobile"
                             maxlength="12" formControlName="mobileNo" required
                             (keypress)="_keyPress($event)"
                             pattern="^(\+\d{1,3}[- ]?)?\d{3}[- ]?\d{7}$" autocomplete="doNotAutoComplete">
                      <!-- <mat-hint class="mat-hint-err">(e.g. 501-765 4321)</mat-hint> -->
                      <mat-error class="mat-hint-err"
                                 *ngIf="userForm.get('mobileNo').errors?.required">Mobile number is
                        required.
                      </mat-error>
                      <mat-error class="mat-hint-err"
                                 *ngIf="userForm.get('mobileNo').errors?.pattern && !userForm.get('mobileNo').errors?.required">
                        Please enter a valid Mobile Number
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6 margin-bottom-8">
                    <mat-form-field appearance="outline" color="primary" class="example-full-width">
                      <mat-label>Email Id</mat-label>
                      <input matInput [readonly]="readOnlyControls  || readOnlyUpdate"
                             placeholder="Email Id" minlength="3" maxlength="320" formControlName="EmailId"
                             required pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$" autocomplete="doNotAutoComplete">
                      <!-- <mat-hint class="mat-hint-err">(e.g. myname@domain.com)</mat-hint> -->
                      <mat-error class="mat-hint-err"
                                 *ngIf="userForm.get('EmailId').errors?.required">Email Id is required.
                      </mat-error>
                      <mat-error class="mat-hint-err"
                                 *ngIf="userForm.get('EmailId').errors?.pattern && !userForm.get('EmailId').errors?.required">
                        Invalid Email Id
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 margin-bottom-8">
                    <mat-form-field appearance="outline" color="primary" style="display: inline;">
                      <mat-label>Role</mat-label>
                      <mat-select role="option"  required
                                  placeholder="Role" formControlName="userRole">
                        
                        <mat-option *ngFor="let role of roleOptions" [value]="role.role" >
                          {{role.role}}
                        </mat-option>
                      </mat-select>
                      <mat-error class="mat-hint-err"
                      *ngIf="userForm.get('userRole').errors?.required">Role is required.
           </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="row">
                  <div class="col-md-12 text-center">
                    <small>Upload Profile Picture</small>                   
                  </div>
                </div>
                <div class="row update-image  mb-5">
                  <div class="col-md-12 pagination user-image-capture">
                    <button class="circle" type="button" [disabled]="readOnlyControls"
                    matTooltip="The image file size shuold not be greater than 240KB." (click)="fileInput.click()"><i
                      class="fa fa-picture-o custom-line-height" aria-hidden="true"></i>
                      <input #fileInput type="file"  (change)="preview(fileInput.files)" accept="image/x-png,image/jpg,image/jpeg" style="display:none;" />
                    </button>                    
                  </div>
                  <div class="col-md-12 margin-bottom-8 d-flex justify-content-center">
                    <div class="user-image-circle">
                      <img [src]="imgURL" *ngIf="imgURL" [ngClass]="{'p-0 bordor-radius-custom' : imgURL !== './assets/img/no-image.png'}">
                    </div>
                  </div>
                  <div class="col-md-12 margin-bottom-8 text-center" *ngIf="noImage">
                    <button type="button" matSuffix mat-icon-button (click)="clearProfile()" matTooltip="Clear file.">
                      <mat-icon class="material-icons-outlined icon-display-large">delete_forever</mat-icon>
                    </button>
                  </div>
                  <!-- <div class="col-md-12 margin-bottom-8" style="text-align: center;">
                    <img src= "./assets/img/no-image.png" height="200" style="max-width: 100%;" *ngIf="imgURL">
                  </div>   -->               
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 form-group mt-lg-4 mt-sm-4 text-center">
                <div class="col-md-12">
                  <button color="primary" class="create-user-btn mr-2 save-btn mr-2" mat-flat-button 
                          [hidden]="isBusySave" (click)="onUserSubmit()" 
                          
                          matTooltip="Click to {{btnsaveTooltip}}">{{buttonSave}}</button>
                  <button class ="create-user-btn cancel-btn" mat-stroked-button routerLink="/user-list">{{btnClear}}</button>
                </div>
              </div>
            </div>
          </fieldset>
        </form>

      </div>
    </div>
  </div>
</section>
