<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
  <section class="body-section" id="addLocationSection">
    <div class="container">
      <div class="row py-3">
        <div class="col d-flex align-items-center">
          <h1 class="primary-heading mb-0">{{headerText}}</h1>
        </div>
      </div>
      <div class="row mr-1 ml-1 pb-2 d-none">
        <h1 class="primary-heading">{{headerText}}</h1>
      </div>
      <div class="body-bg container main-body">
        
        <h1 class="secondary-heading pull-left">Role Details</h1>
        <small class="float-right mb-2 pt-1">Fields marked with * are required</small>
        <div style="clear: both;"></div>
        <div class="secondary-line"></div>
        <div class="pb-4">
          <!-- ============================================================== -->
          <!-- Role form start-->
          <!-- ============================================================== -->
          <form [formGroup]="roleForm" roleFormDirective="ngForm" autocomplete="off" novalidate>
            <div class="row">
              <div class="col-lg-4 ">
                <mat-form-field appearance="outline" color="primary" class="example-full-width" style="display: inline;">
                  <mat-label>Role</mat-label>
                  <input [readonly]="readOnlyControls || readOnlyUpdate" maxlength="100" required type="text"
                    placeholder="Role" matInput formControlName="role" pattern="^[a-zA-Z]+([ ][a-zA-Z]+)*$">
                  <mat-error *ngIf="roleForm.get('role').errors?.required"  class="mat-hint-err">Role is required.
                  </mat-error>
                  <mat-error *ngIf="roleForm.get('role').errors?.pattern"  class="mat-hint-err"
                    >
                    Please enter a valid Role
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 mb-3">
                <mat-form-field appearance="outline" color="primary" class="example-full-width" style="display: inline;">
                  <mat-label>Description</mat-label>
                  <input [readonly]="readOnlyControls" required maxlength="100" type="text" placeholder="Description"
                    matInput formControlName="description" pattern="^[a-zA-Z]+([ ][a-zA-Z]+)*[.]{0,1}$">
                  <mat-error  *ngIf="roleForm.get('description').errors?.required" class="mat-hint-err">Description is
                    required</mat-error>
                    <mat-error *ngIf="roleForm.get('description').errors?.pattern" class="mat-hint-err">
                    Please enter a valid Description
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <!-- ============================================================== -->
            <!-- Set Permission start-->
            <!-- ============================================================== -->
            <div class="row">
              <div class="col-sm-12">
                <h1 class="secondary-heading">Set Permissions</h1>
                <div class="secondary-line"></div>
                <div class="table-responsive mat-elevation-z8 mb-4">
                  <table mat-table [dataSource]="dataSourceAddRole" matSort class="mat-table-height table table-striped">
                    <ng-container matColumnDef="SrNo">
                      <th mat-header-cell *matHeaderCellDef style="flex: 0.6;color: white;">Sr No</th>
                      <td mat-cell *matCellDef="let element" style="flex: 0.6;"> {{element.SrNo}} </td>
                    </ng-container>
  
                    <ng-container matColumnDef="screenName">
                      <th mat-header-cell *matHeaderCellDef style="flex: 2;color: white;"> Screen Name</th>
                      <td mat-cell *matCellDef="let element" style="flex: 2;text-transform: capitalize;"> {{element.screenName}} </td>
                    </ng-container>
  
                    <ng-container matColumnDef="create">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header style="flex: 1;color: white;">Create</th>
                      <td mat-cell *matCellDef="let element" style="flex: 1;">
                        <mat-checkbox #checkboxes [disabled]="readOnlyControls" (click)="$event.stopPropagation()"
                          (change)="$event.checked?(element.create = 1): (element.create = 0)"
                          [checked]="viewAndUpdate ? element.create: 0"></mat-checkbox>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="view">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header style="flex: 1;color: white;">View</th>
                      <td mat-cell *matCellDef="let element" style="flex: 1;">
                        <mat-checkbox [disabled]="readOnlyControls" (click)="$event.stopPropagation()"
                          (change)="$event.checked?(element.view = 1): (element.view = 0)"
                          [checked]="viewAndUpdate ? element.view: 0"></mat-checkbox>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="update">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header style="flex: 1;color: white;">Edit</th>
                      <td mat-cell *matCellDef="let element" style="flex: 1;">
                        <mat-checkbox [disabled]="readOnlyControls" (click)="$event.stopPropagation()"
                          (change)="$event.checked?(element.update = 1): (element.update = 0)"
                          [checked]="viewAndUpdate ? element.update: 0"></mat-checkbox>
  
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="delete">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header style="flex: 1;color: white;">Delete</th>
                      <td mat-cell *matCellDef="let element" style="flex: 1;">
                        <mat-checkbox [disabled]="readOnlyControls" (click)="$event.stopPropagation()"
                         [checked]="viewAndUpdate ? element.delete: 0"
                        (change)="$event.checked?(element.delete = 1): (element.delete = 0)"
                         ></mat-checkbox>
                      </td>
                    </ng-container>
                    <!-- <ng-container matColumnDef="approve">
                      <th mat-header-cell *matHeaderCellDef style="flex: 1.5;color: white;">Approve</th>
                      <td mat-cell *matCellDef="let element" style="flex: 1.5;">
                        <mat-checkbox [disabled]="readOnlyControls" (click)="$event.stopPropagation()"
                          (change)="$event.checked?(element.approve = 1): (element.approve = 0)"
                          [checked]="viewAndUpdate ? element.approve: 0"></mat-checkbox>
                      </td>
                    </ng-container> -->
                    <mat-header-row *matHeaderRowDef="displayedColumnsAddRole; sticky: false;"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumnsAddRole;"></mat-row>
                  </table>
                  <mat-paginator [pageSizeOptions]="[25, 100]"></mat-paginator>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group mt-lg-4 mt-sm-4 text-center">
                <div class="col-md-12">
                  <button [disabled]="roleForm.invalid" [hidden]="isBusySave" color="primary" class="create-user-btn cancel-btn save-btn mr-2" mat-flat-button 
                    (click)="onRoleSubmit()" matTooltip="Click to {{btnsaveTooltip}}">{{buttonSave}}</button>
                  <button class="create-user-btn cancel-btn" mat-stroked-button routerLink="/role-list">{{btnClear}}</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>