.main-body{
    box-shadow: -1px -1px 13px -1px #b2592a, 0 1px 1px 0 #b15a2a, 0 1px 3px 0 #b15a2a;
    position: relative;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 0px;
  }
  .body-section{
    margin-top: 70px;
}
  .secondary-line{
    background-color: #B15A2A;
    padding-bottom: 1px;
    margin-bottom: 20px;
  }
  a {
    color: #f7941d;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .form-input-text{
    display: grid!important;
  }
  ::ng-deep .mat-checkbox-inner-container {
    display: inline-block;
    height: 20px!important;
    line-height: 0;
    margin: auto;
    margin-right: 8px;
    order: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    width: 20px!important;
    flex-shrink: 0;
  }
  ::ng-deep .mat-header-row {
    background-color: #878787!important;
    color: white !important;
  }
  td button {
    background: transparent
  }
  
  .mt-6{
    margin-top: 4rem !important;
  }
  
  .breadcrumb .breadcrumb-item {
    line-height: 15px;
  }
  .search-btn-icon {
    border:none;
    background: transparent;
    color: #ff7300
  }
  
  .create-user-btn{
    width:100px;
    /*font-size: 18px;*/
  
  }
  .save-btn{
    background-color: #B15A2A;
    color: white;
    width:100px;
    /*font-size: 18px;*/
  }
  
  .secondary-line {
    margin-bottom: .3rem;
  }
  
  :host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
    height: auto;
  }