<section class="body-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 p-l-0 d-none d-md-block pl-0">
        <div class="sign-in__left-side-block l-0">
          <div class="left-content flex-column">

          </div>
        </div>
      </div>
      <!-- Login form start -->
      <div class="col-md-4 login-form-section">
        <div class="sign-in__right-side-block">
          <a  class="cursor-point">
            <img src="assets/img/oruhub%20logo.png1.png" id="forgotPassword" alt="company logo" class="img-fluid w-75 my-3">
          </a>
          <!-- <div style="clear: both; height: 50px;"></div> -->
          <h1 class="heading-1 mt-3">Forgot Password</h1>
          <form #loginForm="ngForm" autocomplete="off">
            <div class="row">
              <div class="col-md-12  form-input-text">
                <mat-form-field appearance="outline" color="primary" class="fix-width">
                  <mat-label>Email Id</mat-label>
                  <input id="emailId" matInput placeholder="Email Id" [(ngModel)]="selectedEmail" name="email"
                         autocomplete="off" #email="ngModel" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$"
                         required>
                  <mat-icon matSuffix><span class="material-icons">email</span></mat-icon>
                  <mat-error class="mat-hint-err" *ngIf="email.hasError('required')">Email Id is required.</mat-error>
                  <mat-error class="mat-hint-err" *ngIf="email.errors?.pattern">Email Id is invalid</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-12 text-right forget-pwd" style="margin-top: -10px;">
                <a routerLink="/login" class="forgot-password cursor-point" style="text-decoration: underline">
                  Back</a>
              </div>

              <div class="col-md-12 form-input-text mt-4 login-btn">
                <button color="primary" mat-flat-button (click)="forgotPassword();"
                        [disabled]="!loginForm.valid" class="pt-2 pb-2">Send
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
