@media only screen and (max-width: 767px) {
  /* For mobile phones: */
  /* .forDesktop {
    display: none;
  } */
  .forMobile {
    display: block!important;
    background: #B15A2A;;
  }
  .header1{
    border-bottom: 1px solid #e2e1e1;
  }
  .topnav{
    display: none;
  }
  .forMobile .nav-profile{
    background: #B15A2A;
  }
  .sidebar .nav>li>a {
    color:white;
  }
  .custom-for-mobile {
    display: none;
  }
}

.ml-50{
  margin-left: 50px;
}

.bg_color{
  background: #878787!important;
}

.forMobile{
  display: none;
}

.displayNone{
  display: none!important;
}

.displayBlock{
  display: block!important;
}

.header .navbar-brand {
  padding: 10px 0px;
}


.header-logo-image{
  width:auto;
  height: auto;
}

.date{
  margin-right:30px;
}


.topnav {
  /* overflow: hidden; */
  background: #B15A2A;
  width: 100%;
  position: fixed;
  z-index: 10;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 11px;
  text-decoration: none;
  font-size: 15px;
}

.topnav a:hover {
  background-color: #a24f21;
}

.admin span {
  margin-right:4px;
}

.dropbtn {

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

a:not([href]):hover {
  color: white;
  text-decoration: none;
}

.dropdown-content a:hover {
  text-decoration: underline;
}
.dropdown-content a:hover {}

.dropdown:hover .dropdown-content {display: block;}

.custom-link-btn {
  padding: 5px 16px !important;
  /* border-bottom: 1px solid #7777; */
}


.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #b15a2a26;
}
.dropdown-item:focus, .dropdown-item:hover {
  color: #ffffff !important;
  text-decoration: none;
  background-color: #b15a2a;
}


.dropdown-transparency {
  background: rgba(255,255,255,0.9);
}

.navbar-user .dropdown-menu .dropdown-item {
  font-size: 15px;
}

.header .navbar-nav>li>a {
  padding: 15px 10px 15px 0;
}

.loader {
  float: left;
  width: 30px;
  height: 30px;
  margin: -5px 10px -5px 0;
}

.dropdown-item {
  font-weight: 400;
}

/* .active{
  background: grey !important;
} */
