<!-- spinner loader -->
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<!-- begin #page-container -->
<div [ngClass]="{'page-sidebar-toggled' : sidebar}" class="fade page-sidebar-fixed page-header-fixed in "
     id="page-container">
  <!-- begin #header -->
  <div id="header" class="header header1 navbar-default container">
    <div class="navbar-header">
      <a  class="navbar-brand header-logo-image" >
        <img src="{{imgUrl}}" >
      </a>
      <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <ul class="navbar-nav navbar-right forDesktop custom-for-mobile">
      <li class="date d-flex align-items-center">
        <a>Logged In: {{date | date:'d MMM y, h:mm:ss a'}}</a>
      </li>
      <li class="dropdown navbar-user d-flex align-items-center">
        <a href="#" class="dropdown-toggle pr-0 d-flex" data-toggle="dropdown">
          <img [hidden]="isDisabledImg" src="{{profilePicImage}}" alt="" />
          <div [hidden]="!isDisabledImg" class="loader"></div>
          <span class="d-none d-md-inline capitaliaze-first mr-2">Welcome {{userName}}</span>
          <b class="fa fa-angle-down m-l-5 f-s-15"></b>
        </a>
        <div class="dropdown-menu dropdown-menu-right" >
          <a routerLink="/change-password" class="dropdown-item">Change Password</a>
          <a (click)="logout()" href="javascript:;" class="dropdown-item">Log Out</a>
        </div>
      </li>
    </ul>
  </div>
  <div style="margin-top: 50px;z-index: 999" class="forDesktop  header navbar-default mt-2">
    <div class="container">
      <ul class="navbar-nav">
        <li class="dropdown navbar-user" *ngFor="let menus of menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <!--            <span class="d-none d-md-inline text-white">{{menus.name}}</span>-->
            <b class="fa fa-angle-down m-l-5 text-white f-s-15"></b>
          </a>
          <div class="dropdown-menu dropdown-menu-left" style="z-index: 999;">
          <span *ngFor="let subItem of menus.children">
          <a [routerLink]="'/' + subItem.route"  class="dropdown-item">{{subItem.name}}</a>
          <div class="dropdown-divider"></div>
          </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- end #header -->
  <!-- end #header -->
  <div id="sidebar"  [hidden] = "sidebar" class="sidebar forMobile">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
      <!-- begin sidebar user -->
      <ul class="nav">
        <li class="nav-profile">
          <div class="image">
            <a ><img src="../../../../assets/img/user-image.png" alt="admin" /></a>
          </div>
          <div class="info">
            Welcome Admin
          </div>
          <small>{{date | date:"dd MMM yyyy, h:mm:ss a"}}</small><br>
        </li>
      </ul>
      <ul class="nav">
        <li class="has-sub">
          <a >
            <b class="fa fa-angle-down m-l-5 f-s-15 caret"></b>
            <span>Admin</span>
          </a>

          <ul class="sub-menu" >
            <li><a [routerLinkActive]="['active']" routerLink="/role-list"  (click)="toggleMenu()"><span>User Role</span></a></li>
            <li><a [routerLinkActive]="['active']"  routerLink="/user-list" (click)="toggleMenu()"><span>User</span></a></li>
          </ul>
        </li>
        <li class="has-sub" *ngFor="let menuBin of menu">
          <a id="{{menuBin.route}}" [routerLinkActive]="['active']" (click)="activeRouteAddClass(menuBin.route);toggleMenu();" class="header-class" *ngIf="menuBin.name !== 'User Role' && menuBin.name !== 'User' && menuBin.name !== 'Master Data' && menuBin.name !== 'Beacons Location' && menuBin.name !== 'Theme Setup' && menuBin.name !== 'Upload Employee List'" routerLink = "{{menuBin.route}}">
            <span>{{menuBin.name}}</span>
          </a>
        </li>
        <li class="has-sub" >
          <a routerLink="/change-password" class="dropdown-item" (click)="toggleMenu()">Change Password</a>
        </li>
        <li class="has-sub" >
          <a (click)="logout()" href="javascript:;" class="dropdown-item">Log Out</a>
        </li>
      </ul>
      <!-- end sidebar nav -->
    </div>
    <!-- end sidebar scrollbar -->
  </div>
  <!--secondary header -->
  <div class="topnav mt-4" style="margin-top: 14px !important;">
    <div class="container" id="headerId">
      <!-- <a class="active admin" ><span>Admin</span><b class="fa fa-angle-down m-l-5 f-s-15"></b></a> -->
      <span class="dropdown d-block"  >
          <a href="#" id="adminId" class="dropdown-toggle" data-toggle="dropdown">
            <span>Admin </span><b class="fa fa-angle-down m-l-5 f-s-15"></b>
          </a>
          <div class="dropdown-menu dropdown-menu-left dropdown-transparency" >
            <a [routerLinkActive]="['active']" routerLink="/role-list" class="text-black dropdown-item text-left custom-link-btn">User Role</a>
            <a [routerLinkActive]="['active']" routerLink="/user-list" class="text-black dropdown-item text-left custom-link-btn">User</a>
          </div>
        </span>
      <span *ngFor="let menuBind of menu">
          <a id="{{menuBind.nameId}}" [routerLinkActive]="['active']" (click)="activeRouteAddClass(menuBind.nameId)" class="header-class" *ngIf="menuBind.name !== 'User Role' && menuBind.name !== 'User' && menuBind.name !== 'Master Data' && menuBind.name !== 'Beacons Location' && menuBind.name !== 'Theme Setup' && menuBind.name !== 'Upload Employee List'" routerLink = "{{menuBind.route}}" >{{menuBind.name}}</a>
        </span>
    </div>
  </div>
</div>
<!-- end page container -->
