<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<section class="body-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 p-l-0 d-none d-md-block pl-0">
        <div class="sign-in__left-side-block l-0">
          <div class="left-content flex-column">
          </div>
        </div>
      </div>
      <!-- Login form start -->
      <div class="col-md-4 login-form-section">
        <div class="sign-in__right-side-block">
          <a (click)="home()" class="cursor-point">
            <img src="assets/img/oruhub%20logo.png1.png" alt="company logo" class="img-fluid w-75 my-3">
          </a>
          <h1 class="heading-1 mt-3">LOGIN</h1>
          <form #loginForm="ngForm" autocomplete="off">
            <div class="row">
              <div class="col-md-12  form-input-text">
                <mat-form-field appearance="outline" color="primary" class="fix-width">
                  <mat-label>Email Id</mat-label>
                  <input id="emailId" matInput placeholder="Email Id" [(ngModel)]="selectedEmail" name="email"
                         autocomplete="off" #email="ngModel" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$"
                         required>
                  <mat-icon matSuffix><span class="material-icons">email</span></mat-icon>
                  <mat-error class="mat-hint-err" *ngIf="email.hasError('required')">Email Id is required.</mat-error>
                  <mat-error class="mat-hint-err" *ngIf="email.errors?.pattern">Email Id is invalid</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-12  form-input-text">
                <mat-form-field appearance="outline" color="primary" class="fix-width">
                  <mat-label>Password</mat-label>
                  <input id="password" matInput placeholder="Password" name="passwordV" [(ngModel)]="password"
                         #passwordV="ngModel" autocomplete="off" minlength="6" maxlength="14"  required
                         type="password">
                  <mat-error class="mat-hint-err" *ngIf="passwordV.hasError('required')">Password is required.
                  </mat-error>
                  <mat-error class="mat-hint-err" *ngIf="passwordV.hasError('minlength')">Password must contain at least 6 characters.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-12 text-right forget-pwd" style="margin-top: -10px;">
                <a (click)="forgotPassword()" class="forgot-password cursor-point" style="text-decoration: underline">Forgot
                  password?</a>
              </div>
              <div class="col-md-12 form-input-text mt-4 login-btn">
                <button color="primary" mat-flat-button [disabled]="!loginForm.valid" (click)="login();" class="pt-2 pb-2">LOGIN
                </button>
              </div>
            </div>
            <div class="sign-up mt-3 small">
              <!-- <p>Don't have an account yet?<a href="#"> Sign Up</a> </p> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
