a {
  color: #f7941d;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .fix-width {
    width: 60% !important;
  }
}

@media screen and (max-width: 767px) {
  .text-center-mob {
    text-align: center !important;
  }
}

.form-input-text{
  display: grid!important;
}
::ng-deep .mat-checkbox-inner-container {
  display: inline-block;
  height: 20px!important;
  line-height: 0;
  margin: auto;
  margin-right: 8px;
  order: 0;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  width: 20px!important;
  flex-shrink: 0;
}
::ng-deep .mat-header-row {
  background-color: #878787!important;
  color: white !important;
}
td button {
  background: transparent
}

.mt-6{
  margin-top: 4rem !important;
}

.breadcrumb .breadcrumb-item {
  line-height: 15px;
}
.search-btn-icon {
  border:none;
  background: transparent;
  color: #ff7300
}
