
<section class="body-section" id="addLocationSection">
  <div class="container">
    <div class="row py-3">
      <div class="col d-flex align-items-center">
        <h1 class="primary-heading mb-0">Change Password</h1>
      </div>
    </div>
    <div class="row mr-1 ml-1 pb-2 d-none">
      <h1 class="primary-heading">Change Password</h1>
    </div>
    <div class="body-bg container container-max-height">
      <h1 class="secondary-heading pull-left">New Password</h1>
      <small class="float-right mb-2">Fields marked with * are required</small>
      <div style="clear: both;"></div>
      <div class="secondary-line"></div>
      <div class="pb-4">
        <!-- ============================================================== -->
        <!-- Role form start-->
        <!-- ============================================================== -->
        <form #changePasswordForm="ngForm">
          <div class="row">
            <div class="col-md-12 form-input-text">
              <mat-form-field appearance="outline" color="primary" class="fix-width">
                <mat-label>Current Password</mat-label>
                <input [type]="hide ? 'password' : 'text'" matInput placeholder="Current Password"
                       [(ngModel)]="currentPassword" name="currentPass" #currentPass="ngModel" required minlength="8">
                <mat-icon class="cursor-point" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error class="mat-hint-err" *ngIf="currentPass.hasError('required')">Current Password is required.</mat-error>
                <mat-error class="mat-hint-err" *ngIf="currentPass.hasError('minlength')">Password must contain at least 8 characters.</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-12 form-input-text">
              <mat-form-field appearance="outline" color="primary" class="fix-width">
                <mat-label>New Password</mat-label>
                <input [type]="hide1 ? 'password' : 'text'" matInput placeholder="New Password"
                       [(ngModel)]="selectedPassword" name="pass" #pass="ngModel" required pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[\^\$\*\.\[\]\{\}\(\)\?\!\@\#\%\&\/\,\>\<\'\:\;\|\_\~\`])[A-Za-z\d\^\$\*\.\[\]\{\}\(\)\?\!\@\#\%\&\/\,\>\<\'\:\;\|\_\~\`]{8,20}$">
                <mat-icon class="cursor-point" matTooltip="Password length must be between 8-20 characters. It must contain at least 1 upper & 1 lowercase letter, 1 number & 1 special character"
                          matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error class="mat-hint-err" *ngIf="pass.errors?.pattern">Invalid New Password</mat-error>
                <mat-error class="mat-hint-err" *ngIf="pass.hasError('required')">New Password is required.</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-12 form-input-text">
              <mat-form-field appearance="outline" color="primary" class="fix-width">
                <mat-label>Confirm New Password</mat-label>
                <input type="password" matInput placeholder="Confirm New Password"
                       [(ngModel)]="selectedConfirmPassword" name="confirmpass" #confirmpass="ngModel" required pattern={{selectedPassword}}>
                <mat-icon matSuffix><span class="material-icons">lock</span></mat-icon>
                <mat-error class="mat-hint-err" *ngIf="confirmpass.errors?.pattern">Password is not matched</mat-error>
                <mat-error class="mat-hint-err" *ngIf="confirmpass.hasError('required')">Confirm New Password is required.</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-12 text-center-mob">
              <button color="primary" mat-flat-button (click)="changePassword()" [disabled]="!changePasswordForm.valid">Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
