<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
  <section class="body-section" id="addLocationSection">
    <div class="container">
  
      <div class="row py-3">
        <div class="col d-flex align-items-center">
          <h1 class="primary-heading mb-0">Admin Roles</h1>
        </div>
        <div class="col">
          <button  routerLink="/role" type="button"
            class="btn btn-outline-dark btn-outline-windpact pull-right">
            <span class="material-icons font-1_2">add</span><span class="btn-text">Add Role</span>
          </button>
        </div>
      </div>
  
      <div class="row mr-1 ml-1 d-none">
        <h1 class="primary-heading">User Roles</h1>
        <nav aria-label="breadcrumb" class="breadcrumb-item-position ml-auto">
          <ol class="breadcrumb bread-crumb-font">
            <a routerLink="/role">
              <li class="breadcrumb-item"><a routerLink="/role" style="color: #FF7300;">
                  <mat-icon style="color: #FF7300;">add</mat-icon> Add Role
                </a>
              </li>
            </a>
          </ol>
        </nav>
      </div>
  
      <div class="body-bg container main-body">
  
  
        <div class="row mb-3">
          <div class="col-sm-12">
            <!-- ============================================================== -->
            <!-- Search form start-->
            <!-- ============================================================== -->
            <form>
              <div class="row">
                <div class="col-lg-11 col-md-11 ">
                  <mat-form-field appearance="outline" color="primary" style="display: inline;">
                    <mat-label>Search</mat-label>
                    <input  maxlength="100" type="text" placeholder="Search" matInput [(ngModel)]="selectedRole"
                    name="selectedRoleV" #selectedRoleV="ngModel"  pattern="^[a-zA-Z]+([ ][a-zA-Z]+)*[.]{0,1}$">
                  </mat-form-field>
                </div>
                <div class="col-sm-1 col-md-1">
                  <button  type="button" matTooltip="Search" (click)="asyncGetFilterRoleData()"
                          class="btn btn-outline-dark btn-outline-windpact pull-right mt-1 search-user btn-block d-flex justify-content-center">
                    <mat-icon>search</mat-icon>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- Role List start-->
        <!-- ============================================================== -->
        <div class="row">
          <div class="col-sm-12">
            <h1 class="secondary-heading">Roles</h1>
            <div class="secondary-line"></div>
            <div class="table-responsive mat-elevation-z8 mb-3" style="margin-bottom: 1rem;">
              <table mat-table [hidden]="!isTableHasData" [dataSource]="roledataSource" matSort
                class="mat-table-height table table-striped">
                <ng-container matColumnDef="SrNo">
                  <th mat-header-cell *matHeaderCellDef style="flex: 0.6;color: white;">Sr No</th>
                  <td mat-cell *matCellDef="let element" style="flex: 0.6;"> {{element.SrNo}} </td>
                </ng-container>
  
                <ng-container matColumnDef="RoleName">
                  <th mat-header-cell *matHeaderCellDef style="flex: 1;color: white;">Role Name</th>
                  <td mat-cell *matCellDef="let element" style="flex: 1;"> {{element.role}} </td>
                </ng-container>
  
                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header style="flex: 1;color: white;">Description</th>
                  <td mat-cell *matCellDef="let element" style="flex: 1;"> {{element.description}}</td>
                </ng-container>
  
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef style="flex: 1.5;color: transparent;"></th>
                  <td mat-cell *matCellDef="let element" style="flex: 1.5;justify-content: flex-end;text-align: right;">
  
                    <i *ngIf="permissions.view === 1"  [routerLink]="['/role/', element.RoleId,'View']" class="fa fa-eye mr-4 cursor-pointer" aria-hidden="true"></i>
                    <i *ngIf="permissions.update === 1" [routerLink]="['/role/', element.RoleId,'Edit']" class="fa fa-pencil-square-o mr-4 cursor-pointer" aria-hidden="true"></i>
                    <i *ngIf="permissions.delete === 1" (click)="modelDeleteRole(element.RoleId, element.role)" class="fa fa-trash red cursor-pointer" aria-hidden="true"></i>
                  </td>
                </ng-container>
                <mat-header-row *matHeaderRowDef="roledisplayedColumns; sticky: false;"></mat-header-row>
                <mat-row *matRowDef="let row; columns: roledisplayedColumns;"></mat-row>
              </table>
              <!-- <mat-paginator [hidden]="!isTableHasData" [pageSizeOptions]="[20, 50, 100]"></mat-paginator> -->
              <div style="padding: .5rem;" [hidden]="isTableHasData">
                <div class="ml-2">
                  No Data Found.
                </div>
              </div>
                 <!-- pagination controls -->
            <div *ngIf="isTableHasData" class="pagination ml-auto p-3" style="float: right;">
              <div class="data  mr-2"><span>{{pageFrom}} - {{pageTo}} of {{totalRecord}} </span></div>
              <button class="circle mr-3" matTooltip="Previous page" [disabled]="skip == 0" (click)="previousPage()"><i
                class="fa fa-angle-left custom-line-height" aria-hidden="true"></i></button>
  
              <button class="circle" matTooltip="Next page" [disabled]="pageTo >= totalRecord" (click)="nextPage()"><i
                class="fa fa-angle-right custom-line-height" aria-hidden="true"></i></button>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  