a, a:hover {
    color: #f7941d;
    text-decoration: none!important;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .form-input-text{
    display: grid!important;
  }
  
  ::ng-deep mat-header-row {
    background-color: #878787!important;
    color: white !important;
  }
  td button {
    background: transparent
  }
  
  .mt-6{
    margin-top: 4rem !important;
  }
  
  .breadcrumb .breadcrumb-item {
    line-height: 15px;
  }
  .search-btn-icon {
    border:none;
    background: transparent;
    color: #ff7300
  }
  
  .search-user{
    float: initial;
    background: #B15A2A;
    border:none;
  }
  .search-user .material-icons{
     color: white !important;
  }
  form{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px 15px;
    /* padding-bottom: 11px; */
  }
  
  :host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
    height: 39px;
  }
  
  @media only screen and (max-width: 767px) {
    .font-1_2 {
      font-size: 1.2rem;
    }
  }
  .main-body{
    box-shadow: -1px -1px 13px -1px #b2592a, 0 1px 1px 0 #b15a2a, 0 1px 3px 0 #b15a2a;
    position: relative;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 0px;
  }
  .secondary-line{
    background-color: #B15A2A;
    padding-bottom: 1px;
    margin-bottom: 20px;
  }
  .secondary-heading{
      color: #B15A2A;
  }
  .primary-heading{
    color: #B15A2A;
  }
  .btn-text{
    float: right;
    font-size: 14px;
    line-height: 2;
  }
  .btn-outline-dark:hover {
    color: #fff;
    background-color: #B15A2A;
    border-color: #B15A2A;
}
.body-section{
    margin-top: 70px;
}