<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<section class="body-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 p-l-0 d-none d-md-block pl-0">
        <div class="sign-in__left-side-block l-0">
          <div class="left-content flex-column">

          </div>
        </div>
      </div>
      <!-- Login form start -->
      <div class="col-md-4 login-form-section">
        <div class="sign-in__right-side-block">
          <a (click)="home()" class="cursor-point">
            <img src="assets/img/oruhub%20logo.png1.png" id="setPasswordId" alt="company logo" class="img-fluid w-75">
          </a>
          <!-- <div style="clear: both; height: 50px;"></div> -->
          <h1 class="heading-1">SIGN-UP VERIFICATION</h1>
          <form #loginForm="ngForm" autocomplete="off">
            <div class="row">
              <!-- input code -->
              <div class="col-md-12  form-input-text">
                <mat-form-field appearance="outline" color="primary" class="fix-width">
                  <mat-label>Code</mat-label>
                  <input id="codeId" matInput placeholder="Code" [(ngModel)]="selectedCode" name="code"
                         autocomplete="off" #code="ngModel" required readonly>
                  <!-- <mat-icon matSuffix><span class="material-icons">code</span></mat-icon> -->
                  <mat-error class="mat-hint-err" *ngIf="code.hasError('required')">Code is required.</mat-error>
                  <mat-error class="mat-hint-err" *ngIf="code.errors?.pattern">Code is invalid</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-12  form-input-text">
                <mat-form-field appearance="outline" color="primary" class="fix-width">
                  <mat-label>Email Id</mat-label>
                  <input id="emailId" matInput placeholder="Email Id" [(ngModel)]="selectedEmail" name="email"
                         autocomplete="off" #email="ngModel" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$"
                         required readonly>
                  <mat-icon matSuffix><span class="material-icons">email</span></mat-icon>
                  <mat-error class="mat-hint-err" *ngIf="email.hasError('required')">Email Id is required.</mat-error>
                  <mat-error class="mat-hint-err" *ngIf="email.errors?.pattern">Email Id is invalid</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-12 form-input-text">
                <mat-form-field appearance="outline" color="primary" class="fix-width">
                  <mat-label>New Password</mat-label>
                  <input [type]="hide1 ? 'password' : 'text'" matInput placeholder="New Password"
                         [(ngModel)]="selectedPassword" name="pass" #pass="ngModel" required
                         [pattern]="pwdPattern">
                  <mat-icon class="cursor-point" matTooltip="Password length must be between 8-20 characters. It must contain at least 1 upper & 1 lowercase letter, 1 number & 1 special character"
                            matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-error class="mat-hint-err" *ngIf="pass.errors?.pattern">Invalid New Password</mat-error>
                  <mat-error class="mat-hint-err" *ngIf="pass.hasError('required')">New Password is required.</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-12 form-input-text">
                <mat-form-field appearance="outline" color="primary" class="fix-width">
                  <mat-label>Confirm New Password</mat-label>
                  <input [type]="hide2 ? 'password' : 'text'" matInput placeholder="Confirm New Password"
                         [(ngModel)]="selectedPassword2" name="cpass" #cpass="ngModel" required
                         pattern="{{selectedPassword}}">
                  <mat-icon class="cursor-point" matTooltip="Password length must be between 8-20 characters. It must contain at least 1 upper & 1 lowercase letter, 1 number & 1 special character"
                            matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <!-- <mat-error class="mat-hint-err" *ngIf="cpass.errors?.pattern">Invalid Confirm New Password</mat-error> -->
                  <mat-error class="mat-hint-err" *ngIf="cpass.hasError('required')">Confirm New Password is required.</mat-error>
                  <mat-error class="mat-hint-err" *ngIf="cpass.errors?.pattern">Password is not matched</mat-error>
                </mat-form-field>
              </div>
              <!-- input code -->
              <div class="col-md-12 form-input-text mt-4 login-btn">
                <button color="primary" mat-flat-button (click)="verifySignup();"
                        [disabled]="!loginForm.valid" class="pt-2 pb-2">Set New Password
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
