.sign-in__left-side-block{

  background-image: url('../../../../assets/img/login-image-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;

}
.sign-in__right-side-block{
  background-color:white;
  padding-right: 4rem;
  padding-left: 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 1100px) {
  .sign-in__right-side-block{
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

@media only screen and (max-width: 414px) {
  .sign-in__right-side-block{
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.login-form-section {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.body-section {
  margin-top:0;
  margin-bottom: 0;
}
.heading-1{
  color: #878787 !important;
  padding-bottom: 2%;
  padding-top: 17%;
  font-weight: 400;
  font-size: 18px;
}

@media only screen and (max-width: 768px) {
  .heading-1{
    padding-top: 10%;
  }
}

/* button{
  border: none;
  background: white;

} */
.admin-login-button{
  background-color: #ff7300;
  color:white;
  border-radius: 20px;
  font-size:17px;
}
.mat-user-icon{
  position:absolute;
}
.mat-user-icon i{
  margin-left: -1rem;
  color:grey;
  font-size:18px;
}
/* button img{
  width: 100%;
  height: 111px;
  object-fit: contain;
} */
.logo{
  width:20%;
}
.para-1{
  margin-top:32px;
  font-size: 20px;
  color: #ff7300;
}
.para-2{
  margin-top:50px;
  color: #ff7300;
  margin-bottom:42px;
  font-size:20px;
  line-height: normal;
}
.para-2 a, .para-1 a{
  color:#343a40;
  text-decoration: #343a40;

}
.para-2 a:hover, .para-1 a:hover{
  color:#343a40;
  text-decoration: #343a40;
}
.form-input-text{
  display: grid!important;

}


/*@media screen and (max-width: 773px){
  .sign-in__left-side-block{
    width:0;
  }
}*/
@media screen and (max-width: 553px){
  .login-page{
    padding:10%;
  }
  /* button img{
    width:88%;
  } */
  .para-1, .para-2{
    font-size: 16px;
  }
  .sign-in__right-side-block img.logo1{
    width:200px;
    margin-top: 2rem;
  }
}

.forgot-password {
  font-size: 13px;
  color: #878787;
}

.body-section, .container-fluid, .row, .col-md-8 .sign-in__left-side-block {
  height: 100%;
}

/* additional code */

/*@media screen and (max-width: 552px){*/
/*  .body-section, .container-fluid, .row, .col-md-8 .sign-in__left-side-block {*/
/*  height: 0%;*/
/*  }*/
/*}*/
@media screen and (max-width: 768px){
  .body-section, .container-fluid, .row, .col-md-8 .sign-in__left-side-block {
    height: 100%;
  }
}

.left-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo-line span {
  color: #FF7300;
  font-family: windpact;
  font-size: 6rem;
}

.left-content-logo {
  width: 7rem;
  margin-right: 1rem;
}

.logo-line {
  display: flex;
  align-items: center;
}

.white-text-line {
  color: #FFF;
  font-family: windpact;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
.white-text-line sup {
  color: #FFF;
  font-family: avenir-regular;
  font-size: 0.6rem;
}


@media screen and (max-width: 900px) {

  .logo-line span {
    color: #FF7300;
    font-family: windpact;
    font-size: 5rem;
  }

  .left-content-logo {
    width: 6rem;
    margin-right: 1rem;
  }

  .white-text-line {
    color: #FFF;
    font-family: windpact;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }

}

/* .LOgin Button */

.login-btn button{
  border-radius: 23px;
  height: 41px;
  line-height: normal;
}

/* forget pwd */
/*
.forget-pwd{
  margin-top:-26px;
} */
.sign-up p {
  /*font-family: Roboto;*/
  color: rgba(0, 0, 0, 0.47);
  font-size: .85rem;
}
.sign-up p a {
  color: #B15A2A;
}

//:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
//  height: auto;
//}


