//@import '~primeicons/primeicons.css';
/* You can add global styles to this file, and also import other style files */

html, body { padding-right: 0 !important; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background: #B15A2A;
}

/* html, body { height: 100%; } */
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

.cursor-pointer{
  cursor: pointer;
}

.mat-select-panel .mat-optgroup-label {
  font-size: inherit;
  line-height: 3em;
  height: 3em;
  background-color:#3E3E3E;
  color: white;
}

@font-face {
  font-family: avenir-regular;
  /* font-family: Roboto; */
  src: url(assets/fonts/Kollektif.ttf);
}

.barcode svg {
  width: 165px !important;
  height: 55px !important;
}




body {
  color: rgba(0, 0, 0, 0.87) !important;
  font-family: Kollektif;

}

/* ::ng-deep .mat-table { */
/* color: rgba(0, 0, 0, 0.87) !important; */
/* font-family: avenir-regular; */
/* }  */

p{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.red{
  color: red;
}

.red-bg{
  background-color: red;
}






.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: white!important;
}


.mat-form-field-appearance-outline .mat-form-field-outline {
  color: grey!important;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: grey!important;
}


.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: red!important;
  opacity: 0.8 !important;
}


.mat-input-element {
  caret-color: grey!important;
}


.mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
  caret-color: grey!important;
}


.mat-form-field-label {
  color:grey !important;
}


.mat-form-field.mat-focused .mat-form-field-label {
  color: grey!important;
}


.mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: red !important;
}


.modal {
  text-align: center;
  padding: 0!important;
}

.modal::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #b15a2a !important;
}

.mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
  background: #b15a2a !important;
}

.cdk-overlay-container {
  position: fixed;
  z-index: 1069;
}

body .ui-multiselect-panel .ui-multiselect-items .ui-multiselect-item.ui-state-highlight {
  color: black !important;
  background-color: white !important;
}

body .ui-chkbox .ui-chkbox-box.ui-state-active {
  border-color: #b15a2a !important;
  background-color: #b15a2a !important;
  color: #ffffff;
}

body .ui-multiselect-panel .ui-multiselect-items .ui-multiselect-item:focus {
  outline: 0 none;
  outline-offset: 0;
  -webkit-box-shadow: inset 0 0 0 0.2em #8dcdff;
  -moz-box-shadow: inset 0 0 0 0.2em #8dcdff;
  box-shadow: inset 0 0 0 0.2em #ffffff !important;
}

/* body .ui-multiselect {
  border: 1px solid #b15a2a;
} */

video {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
  /* position: absolute; */
  top: 106px;
  bottom: 0;
  position: fixed;
  z-index: 100001;
}

.viewport video {
  position: inherit !important;
}
.text-red {
  color: #ea2424a6 !important;
}
.border-red {
  border: 1px solid red !important;
}

.fa-angle-left,
.fa-angle-right{
  font-size: 22px !important;
}
.mat-flat-button.mat-primary[disabled], .mat-flat-button.mat-accent[disabled], .mat-flat-button.mat-warn[disabled], .mat-flat-button[disabled][disabled], .mat-raised-button.mat-primary[disabled], .mat-raised-button.mat-accent[disabled], .mat-raised-button.mat-warn[disabled], .mat-raised-button[disabled][disabled], .mat-fab.mat-primary[disabled], .mat-fab.mat-accent[disabled], .mat-fab.mat-warn[disabled], .mat-fab[disabled][disabled], .mat-mini-fab.mat-primary[disabled], .mat-mini-fab.mat-accent[disabled], .mat-mini-fab.mat-warn[disabled], .mat-mini-fab[disabled][disabled] {
  opacity: 0.7;
  color: white;
}

.active {
  background-color: rgba(0,0,0,0.1);
}

.topnav a:hover {
  background-color: rgba(0,0,0,0.1) !important;
}

.custom-icon {
  position: fixed;
  right: 35px;
  top: 114px;
  font-size: 27px;
  z-index: 1111111111;
  cursor: pointer;
}
/**/
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
.mat-form-field-label-wrapper { top: -1.5em; }

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.1em) scale(.75);
  width: 133.33333%;
}
