<!-- spinner loader -->
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<!-- start body section -->
<section class="body-section" id="addLocationSection">
  <div class="container">
    <div class="row py-3">
      <div class="col d-flex align-items-center">
        <!-- title -->
        <h1 class="primary-heading mb-0">ADMIN LIST</h1>
      </div>
      <div class="col">
        <!-- button for add user -->
        <button *ngIf="permissions.create === 1"  routerLink="/user" type="button" class="btn btn-outline-dark btn-outline-windpact pull-right">
          <span class="material-icons font-1_2">add</span>
        </button>
      </div>
    </div>
    <div class="row mr-1 ml-1 d-none">
      <h1 class="primary-heading">User List</h1>
      <nav aria-label="breadcrumb" class="breadcrumb-item-position ml-auto">
        <ol class="breadcrumb brformControlNameead-crumb-font">
          <li class="breadcrumb-item"><a routerLink="/user" style="color: #FF7300;">
            <mat-icon style="color: rgb(255, 115, 66);">add</mat-icon>
            Add Admin
          </a>
          </li>
        </ol>
      </nav>
    </div>


    <div class="body-bg container main-body">
      <!-- <small class="float-right mb-2">Partial values are allowed.</small>
      <h1 class="secondary-heading">Search</h1> -->
      <!-- <div class="secondary-line"></div> -->
      <div class="row mb-3 ">

        <div class="col-sm-12">
          <!-- ============================================================== -->
          <!-- User Search form start-->
          <!-- ============================================================== -->
          <form [formGroup]="formSearch" class="pb-0">
            <div class="row">
              <div class="col-sm-6 col-md-4">
                <mat-form-field appearance="outline" color="primary" style="display: inline;">
                  <mat-label>Employee Id</mat-label>
                  <input type="text" minlength="0" maxlength="320" placeholder="Employee Id" aria-label="Number"                        matInput
                         formControlName="employeeId" autocomplete="doNotAutoComplete">
                  <!-- <mat-hint class="mat-hint-err">(e.g. myname@domain.com)</mat-hint> -->
                </mat-form-field>
              </div>
              <div class="col-sm-6 col-md-4">
                <mat-form-field appearance="outline" color="primary" style="display: inline;">
                  <mat-label>Name</mat-label>
                  <input type="text" minlength="0" maxlength="50" placeholder="Name" aria-label="Name"
                          autocomplete="doNotAutoComplete"
                         matInput formControlName="firstname" pattern="^[a-zA-Z]*[.]{0,1}$">
                         <!-- pattern="^[a-zA-Z]*[.]{0,1}$" -->
                   <mat-error class="mat-hint-err"
                             *ngIf="formSearch.get('firstname').errors?.pattern">
                    Please use only English alphabet.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-6 col-md-4">
                <mat-form-field appearance="outline" color="primary" style="display: inline;">
                  <mat-label>Phone Number</mat-label>
                  <input  mask="000-000-0000" type="text" minlength="0" maxlength="50" placeholder="Phone Number" aria-label="Number"
                  pattern="^(\+\d{1,3}[- ]?)?\d{3}[- ]?\d{7}$" matInput
                         formControlName="number">
                   <mat-error class="mat-hint-err"
                             *ngIf="formSearch.get('number').errors?.pattern">
                     Phone Number is invalid.
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-sm-6 col-md-4">
                <mat-form-field appearance="outline" color="primary" style="display: inline;">
                  <mat-label>Email</mat-label>
                  <input type="text" placeholder="Email" aria-label="email" matInput autocomplete="doNotAutoComplete" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$"
                         formControlName="email" name ="email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$">
                         <mat-error class="mat-hint-err" *ngIf="formSearch.get('email').errors?.pattern">Email Id is invalid</mat-error>
                </mat-form-field>
              </div>


              <div class="col-sm-2 col-md-4">
                <button [disabled]="formSearch.invalid" (click)="searchUser()" type="button" matTooltip="Search"
                        class="btn btn-outline-dark btn-outline-windpact pull-right mt-1 search-user">
                  <mat-icon>search</mat-icon>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <!-- ============================================================== -->
      <!-- User List start-->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-sm-12">
          <h1 class="secondary-heading">Users</h1>
          <div class="secondary-line"></div>
          <div class="table-responsive mat-elevation-z8" style="margin-bottom: 1rem;">
            <table mat-table  [dataSource]="userdataSource" matSort
                   class="mat-table-height table table-striped">
              <ng-container matColumnDef="SrNum">
                <th mat-header-cell *matHeaderCellDef style="color: white;flex: .3;">Sr No</th>
                <td mat-cell *matCellDef="let element" style="flex: .3;"> {{element.SrNum}} </td>
              </ng-container>
              <ng-container matColumnDef="EmployeeId" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;flex: 0.5; ">Employee  Id</th>
                <td mat-cell *matCellDef="let element" style="flex: 0.5;"> {{element.EmployeeId}} </td>
              </ng-container>
              <ng-container matColumnDef="FirstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: white;flex: 0.5">Name</th>
                <td mat-cell *matCellDef="let element" style="flex: 0.5;"> {{element.FirstName}} </td>
              </ng-container>

              <ng-container matColumnDef="Mobile">
                <th mat-header-cell *matHeaderCellDef style="color: white;">Phone Number</th>
                <td mat-cell *matCellDef="let element"> {{element.Mobile | mask: '000-000 0000'}} </td>
              </ng-container>
              <ng-container matColumnDef="EmailId">
                <th mat-header-cell *matHeaderCellDef style="color: white;">Email</th>
                <td mat-cell *matCellDef="let element"> {{element.EmailId}} </td>
              </ng-container>
              <ng-container matColumnDef="Role">
                <th mat-header-cell *matHeaderCellDef style="color: white;"> Role</th>
                <td mat-cell *matCellDef="let element"> {{element.Role}} </td>
              </ng-container>

              <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">

                  <i *ngIf="permissions.view === 1" [routerLink]="['/user/', element.UserId,'View']" class="fa fa-eye mr-4 cursor-pointer" aria-hidden="true"></i>
                  <i *ngIf="permissions.update === 1" [routerLink]="['/user/', element.UserId,'Edit']" class="fa fa-pencil-square-o mr-4 cursor-pointer" aria-hidden="true"></i>
                  <i *ngIf="permissions.delete === 1" (click)="modelDeleteUser(element.UserId, element.EmailId, element.FirstName)" class="fa fa-trash red cursor-pointer" aria-hidden="true"></i>

                </td>
              </ng-container>
              <mat-header-row *matHeaderRowDef="userdisplayedColumns; sticky: false;"></mat-header-row>
              <mat-row *matRowDef="let row; columns: userdisplayedColumns;"></mat-row>
            </table>
            <div style="padding: .5rem;" [hidden]="isTableHasData">
              <div class="ml-2">
                No Data Found.
              </div>
            </div>
          </div>
          <!-- pagination controls -->
          <div *ngIf="isTableHasData" class="pagination ml-auto p-3" style="float: right;">
            <div class="data  mr-2"><span>{{pageFrom}} - {{pageTo}} of {{totalRecord}} </span></div>
            <button class="circle mr-3" matTooltip="Previous page" [disabled]="skip == 0" (click)="previousPage()"><i
              class="fa fa-angle-left custom-line-height" aria-hidden="true"></i></button>

            <button class="circle" matTooltip="Next page" [disabled]="pageTo >= totalRecord" (click)="nextPage()"><i
              class="fa fa-angle-right custom-line-height" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
