a {
  color: #f7941d;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.form-input-text{
  display: grid!important;
}

::ng-deep mat-header-row {
	background-color: #878787;
  color: white !important;

}
.table thead th {
  font-size: 14px;
  line-height: 17px;
}
td button {
	background: transparent
}

.mt-6{
	margin-top: 4rem !important;
}

.breadcrumb .breadcrumb-item {
    line-height: 15px;
}
.search-btn-icon {
	border:none;
	background: transparent;
    color: white
}
.search-user{
  float: initial;
  background: #B15A2A;
  border:none;
  width: 100px;
}
.search-user .material-icons{
   color: white !important;
}
form{
  background: rgba(0, 0, 0, 0.1);
border-radius: 4px;
padding: 10px 15px;
}

.primary-heading{
  font-style: normal;
  font-weight: 600;
  /*font-size: 28px;*/
  line-height: 28px;
  color: #B15A2A;
}

.btn-outline-dark:not(:disabled):not(.disabled).active, .btn-outline-dark:not(:disabled):not(.disabled):active, .show>.btn-outline-dark.dropdown-toggle {
    color: #b15a2a;
    background-color: rgba(0,0,0,0.1);
    border-color: #b15a2a;
}

/* .secondary-line {
    margin-bottom: .3rem !important;
} */

@media only screen and (max-width: 767px) {
  .font-1_2 {
    font-size: 1.2rem;
  }
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  height: auto;
  background: #e5e5e5;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
  padding: 0 0em;
}

/*:host ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline,:host ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid .mat-form-field-outline {*/
/*  background: white !important;*/
/*  border-radius: 5px;*/
/*}*/

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background: white !important;
  border-radius: 5px;
}
.add_button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    color: #FFF;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.25);
    font-size: 2em;
    display: inline-block;
    cursor: pointer;
    vertical-align: text-bottom;
    font-weight: 500;
    color: white;
    background-color: #b15a2a;
}
.main-body{
    box-shadow: -1px -1px 13px -1px #b2592a, 0 1px 1px 0 #b15a2a, 0 1px 3px 0 #b15a2a;
    position: relative;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 0px;
}
.body-section{
  margin-top: 70px;
}
.secondary-line{
  background-color: #B15A2A;
  padding-bottom: 1px;
  margin-bottom: 20px;
}
.mat-icon {
  background-repeat: no-repeat;
  display: initial;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  color: #fff;
}